* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

input,
button {
  font: inherit;
}

:root {
  font-size: 62.5%;
  --primary-color: #ed4949;
  --secondary-color: #74436e;
  --primary-color-light: #fbe4e4;
  --primary-color-dark: #e91c1c;
  --background-color: #282e48;
}

html {
  -webkit-text-size-adjust: 100%; /*prevents text size from being automatically adjusted on mobile landscape orientation */
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  width: 100%;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

.container {
  width: min(60rem, 90%);
  margin: 5rem auto;
}

input {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid rgb(192, 192, 192);
}

input:focus {
  border: 1px solid var(--primary-color);
  outline: 1px solid var(--primary-color);
}

.btn {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 7px;
  background-color: var(--secondary-color);
  color: #fff;
  width: fit-content;
}

.btn,
.tabs li {
  cursor: pointer;
}

.btn,
.hide-books-wrapper label,
.tabs,
.panel,
.instructions,
.validation {
  font-size: 1.4rem;
}

.btn,
.tabs li,
.panel#contact li,
.panel#contact svg path {
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: translateY(3px);
}

/*header*/

header {
  text-align: center;
  background-color: var(--primary-color-light);
  border-radius: 10px 10px 0 0;
}

header,
.content {
  border: 3px solid var(--primary-color-light);
  padding: 3.2rem;
}

header h1 {
  margin-bottom: 2.4rem;
  font-size: 4.2rem;
  font-family: 'Sansita', sans-serif;
  font-weight: 800;
}

header h1 svg path {
  stroke: var(--primary-color-light);
  fill: var(--primary-color);
}

header h1,
.content h2 {
  color: var(--primary-color);
}

header input[type='text'] {
  width: 80%;
}

/*main: content*/
.content {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}

.content h2 {
  font-size: 2rem;
  margin-bottom: 1.8rem;
}

/*booklist*/
#book-list.hide {
  display: none;
}

#book-list li + li {
  margin-top: 3.2rem;
}

#book-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0 1.2rem 2.4rem;
  border-left: 4px solid var(--primary-color);
  overflow: auto;  
}

#book-list li.hide {
  display: none;
}

#book-list li:hover {
  border-color: var(--secondary-color);
}

#book-list li button {
  margin-left: 1.2rem;
}

.book-info {
  text-transform: capitalize;
}

.book-name {
  font-size: 1.6rem;
}

.book-author {
  font-style: italic;
  font-size: 1.5rem;
}

/*checkbox: hide books*/
.hide-books-wrapper {
  display: none;
}

.hide-books-wrapper.show {
  display: flex;
  align-items: center;
  margin: 3rem 0;
}

.hide-books-wrapper input[type='checkbox'] {
  margin-right: 1rem;
  accent-color: var(--primary-color);
  width: 1.6rem;
  height: 1.6rem;
}

/*add book form*/
.add-book {
  margin: 2rem 0 4rem;
}

.form-wrapper {
  gap: 1.8rem;
}

.form-group {
  gap: 0.8rem;
  font-size: 1.6rem;
}

.add-book .btn {
  background-color: var(--primary-color-dark);
  text-transform: uppercase;
  padding: 1rem;
  width: 100%;
}

/*tabs and panels*/

.tabs {
  gap: 1.6rem;
}

.tabs li {
  padding: 0.8rem 1.6rem;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

li.active,
.tabs li:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

.tabs li,
.panel {
  border-radius: 10px;
}

.panel {
  margin-top: 2rem;
  border: 1px solid var(--secondary-color);
  padding: 2rem 1rem;
  text-align: center;
  display: none;
}

.panel#about p {
  line-height: 3.6rem;
}

.panel.active {
  display: block;
}

.panel a {
  display: inline-block;
}

.panel svg path {
  fill: var(--secondary-color);
}

.panel#contact ul {
  gap: 2.4rem;
}

.panel#contact li:hover svg path {
  fill: var(--primary-color-dark);
}

.panel#contact li:hover {
  transform: translateY(3px);
}

/*initial instructions and validation*/
.instructions,
.validation {
  display: none;
}

.instructions.show,
.validation.show {
  display: flex;
}

.instructions {
  padding: 2rem 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.instructions svg path {
  fill: var(--secondary-color);
}

.panel,
.instructions {
  color: var(--secondary-color);
}

.validation {
  line-height: 1.8rem;
  margin: 2.4rem 0;
  border: 1px solid;
  padding: 0.8rem;
}

.validation svg {
  margin-right: 1.2rem;
  flex-shrink: 0;
}

#input-validation {
  border-color: red;
  color: red;
}

#input-validation svg path {
  fill: red;
}

#success-message {
  border-color: green;
  color: green;
}

#success-message svg path {
  stroke: green;
}

/*media queries*/
@media (max-width: 450px) {
  #book-list li {
    padding-right: 1.6rem;
  }

  .add-book .btn {
    margin-top: 0.8rem;
  }

  .tabs {
    justify-content: center;
  }

  .panel#about p {
    line-height: initial;
  }
}
